h1{
    color: black;
    font-size: 90px;
    
}

h2{
    color: white;
    font-size: 25px;
}

h3{
    color: white;
    font-size: 25px;
}

h4{
    color: white;
    font-size: 25px;
}

body{
    background-image: url(paysage.jpg);
}

#carte
{
    width: 1900px;
    margin: 0 ;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.bouton-noir-ovale {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50%;
    font-weight: bold;
   }
   
   .bouton-noir-ovale:hover {
    background-color: white;
    color: black;
   }

/* Initialisation du menu déroulant */
.menu {
    position: relative;
    display: inline-block;
}

.menu .submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .submenu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu .submenu li a:hover {
    background-color: #f1f1f1;
}

/* Affichage du menu déroulant lorsqu'on passe la souris dessus */
.menu:hover .submenu {
    display: block;
}

/* Styles pour le header */
header {
    background-color: #333;
    padding: 15px;
}

/* Styles pour les liens du menu */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}